<div class="row" *ngIf="logAll">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2 class="margin-b20"> 操作日志详情：</h2>
    <table class="table table-bordered table-hover table-striped">
      <tbody>
        <tr>
          <th>序号：</th>
          <td>{{logAll.rowid}}</td>
        </tr>
        <tr>
          <th>时间：</th>
          <td>{{logAll.LogDate}}</td>
        </tr>
        <tr>
          <th>操作账号：</th>
          <td>{{logAll.Ip}}</td>
        </tr>
        <tr>
          <th>操作者IP：</th>
          <td>{{logAll.Ip}}</td>
        </tr>
        <tr>
          <th>操作对象：</th>
          <td>{{logAll.Operand}}</td>
        </tr>
        <tr>
          <th>模块：</th>
          <td>{{logAll.Module}}</td>
        </tr>
        <tr>
          <th>描述：</th>
          <td>{{logAll.Describe}}</td>
        </tr>
        <tr>
          <th>动作：</th>
          <td>{{logAll.Action}}</td>
        </tr>
        <tr>
          <th>备注：</th>
          <td>{{logAll.Remark}}</td>
        </tr>
      </tbody>
    </table>
	<h2 class="margin-b20" *ngIf="logAll.Type == 1"> 用户详情：</h2>
    <table class="table table-bordered table-hover table-striped" *ngIf="logAll.Type == 1">
      <tbody>
        <tr>
          <th>账号：</th>
          <td>{{details.Name}}</td>
        </tr>
        <tr>
          <th>用户类型：</th>
          <td>{{details.Type}}</td>
        </tr>
        <tr>
          <th>用户名：</th>
          <td>{{details.firstName}}</td>
        </tr>
        <tr>
          <th>备注：</th>
          <td>{{details.Remark}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)="goBack()">返回</button>
  </div>
  <div class="col-md-1"></div>
</div>
