<br>
<h1>系统用户列表</h1>
<!-- <div class="grid grid-pad">
  <a *ngFor="let user of users" class="col-1-4"
      routerLink="/users/{{user.rowid}}">
    <div class="module">
      <h4>{{user.Name}}</h4>
      <br>
      <h3>{{user.firstName}}, {{user.lastName}}</h3>  
    </div>
  </a>
</div> -->

<ul class="users">
    <li *ngFor="let user of users">
      <a routerLink="/users/{{user.rowid}}">
        <span class="badge">
          {{user.rowid}}
          <br>
          {{user.Name}}, {{user.Type}}, {{user.firstName}}, {{user.lastName}}
        </span> 
      </a>
      <span *ngIf="user.Name!=='admin'">
          <button class="delete" title="删除用户"
          (click)="delete(user);$event.stopPropagation()">x</button>
      </span>
    </li>
</ul>

<div>
    <!-- <button (click)="add(userName.value); userName.value=''">     </button>-->
    <a [routerLink]="['/register']" class="btn btn-link">添加账号</a>      
</div>
  
