<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  	<h2>系统用户列表</h2>
  	<div class="text-right margin-b20">
		    <button type="button" class="btn btn-primary" [routerLink]="['/register']">添加账号</button>      
		</div>
	  <table class="table table-bordered table-hover table-striped">
	  	<thead>
	  		<tr>
	  			<th>序号</th>
			  	<th>账号</th>
			  	<th>用户类型</th>
			  	<th>用户名</th>
			  	<th>操作</th>
			  </tr>
	  	</thead>
		  <tbody>
		  	<tr *ngFor="let user of users"  routerLink="/users/{{user.rowid}}">
		  		<td align="center">{{user.rowid}}</td>
		  		<td>{{user.Name}}</td>
		  		<td>{{user.Type}}</td>
		  		<td>{{user.firstName}}</td>
		  		<td>
		  			<span *ngIf="user.Name!=='admin'">
		          <button type="button" class="btn btn-primary" title="删除用户" (click)="delete(user);$event.stopPropagation()">x</button>
			      </span>
		  		</td>	
		  	</tr>
		  </tbody>
		</table>
		<footer>
      <p>Copyright &copy;2016-2019  中食药<sup>®</sup>嘉和天下（北京）国际医学科技研究院 &nbsp;&nbsp; V1.0.0</p>
      <p style="margin: 10px 0 0 0;">售后服务手机号和微信号：<span style="color:#45aeea">13552994462</span></p>
    </footer>
  </div>
  <div class="col-md-1"></div>
</div>
<!--原来代码-->
<!-- <div class="grid grid-pad">
  <a *ngFor="let user of users" class="col-1-4"
      routerLink="/users/{{user.rowid}}">
    <div class="module">
      <h4>{{user.Name}}</h4>
      <br>
      <h3>{{user.firstName}}, {{user.lastName}}</h3>  
    </div>
  </a>
</div> -->
<!--
<ul class="users">
    <li *ngFor="let user of users">
      <a routerLink="/users/{{user.rowid}}">
        <span class="badge">
          {{user.rowid}}
          <br>
          {{user.Name}}, {{user.Type}}, {{user.firstName}}, {{user.lastName}}
        </span> 
      </a>
      <span *ngIf="user.Name!=='admin'">
          <button class="delete" title="删除用户"
          (click)="delete(user);$event.stopPropagation()">x</button>
      </span>
    </li>
</ul>

<div>
    <!-- <button (click)="add(userName.value); userName.value=''">     </button>-->
    <!--<a [routerLink]="['/register']" class="btn btn-link">添加账号</a>      
</div>-->
