header { width: 100%; background: #ffffff; }
header .h-main { width: 1000px; margin: 0 auto; }
header .h-main .logo { padding: 23px 0; }
header .h-main .logo img { height: 98px; }
.bannner-bg { width: 100%; background: url('../../assets/banner.jpg') center center no-repeat; background-color: #0a5fb9; }
.bannner-bg .banner{ width: 1000px;height: 480px; margin: 0 auto; position: relative;  }
.bannner-bg .banner .login { position: absolute;  top:calc(50% - 167.5px); right: 0; width: 380px; height: 335px; overflow: hidden; background: #ffffff; border-radius: 5px; }
.bannner-bg .banner .login h3 { text-align: center; font-size: 20px; font-weight: bolder; padding: 10px 0 0 0; color: #0a5fba; }
.bannner-bg .banner .login .login-main { width: 80%; margin: 0 10%; }
.bannner-bg .banner .login .login-main .el-form-item { margin-bottom: 30px; }
.bannner-bg .banner .login .login-main button { cursor: pointer;  margin: 5px 0 0 0;  width: 100%; font-size: 16px; }
.bannner-bg .banner .login .login-main p { margin: 10px 0 0 0; }
footer { width: 100%; background: #ffffff; text-align: center; padding: 20px 0; font-size: 14px; }
.login-prompt{
	color: #999;
	padding-bottom: 10px;
}
.btn-primary.login-btn{
	background: #039BE5;
	border-color: #039BE5;
}
