<div class="row" *ngIf="acclog">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  	<h2 class="margin-b20"> 日志记录详情：</h2>
	  <table class="table table-bordered table-hover table-striped">
		  <tbody>
		  	<tr>
		  		<th>序号：</th>
		  		<td>{{acclog.rowid}}</td>
		  	</tr>
		  	<tr>
		  		<th>文件名称：</th>
		  		<td>{{acclog.FileName}}</td>
			</tr>
			<tr>
				<th>操作人：</th>
				<td>{{acclog.UserName}}</td>
			</tr> 
		  	<tr>
		  		<th>操作类型：</th>
		  		<td>{{acclog.AccessType}}</td>
		  	</tr>
		  	<tr>
		  		<th>操作时间：</th>
		  		<td>{{acclog.AccessTime}}</td>
		  	</tr>
		  	<tr>
		  		<th>操作程序：</th>
		  		<td>{{acclog.Author}}</td>
		  	</tr>
		  </tbody>
		</table>
		<button type="button" class="btn btn-primary" (click)="goBack()">返回</button>
  </div>
  <div class="col-md-1"></div>
</div>
<!--原来代码-->
<!-- <div *ngIf="acclog">
  <h2> 日志记录详情：</h2>
  <br>
  <div>
      <div><span>编号：   </span>{{acclog.rowid}}</div>
      <br>
      <div><span>文件名称: </span>{{acclog.FileName}}</div>
      <br>
      <div><span>操作: </span>{{acclog.AccessType}}</div>     
      <br>
      <div><span>操作时间: </span>{{acclog.AccessTime}}</div>  
      <br>
      <div><span>操作程序: </span>{{acclog.Author}}</div>    
  </div>
  <button (click)="goBack()">返回</button>
</div> -->
