<div class="row" *ngIf="user">
  <div class="col-md-1"></div>
  <div class="col-md-5">
  	<h2 class="margin-b20">{{ user.Name }}详情：</h2>
		<form class="form-horizontal">
		  <div class="form-group" hidden>
		    <label class="col-md-3 control-label">编号：</label>
		    <div class="col-md-9">
		       <p class="form-control-static">{{user.rowid}}</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-md-3 control-label">账号：</label>
		    <div class="col-md-9">
		       <p class="form-control-static">{{user.Name}}</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="firstName" class="col-md-3 control-label">用户名：</label>
		    <div class="col-md-9">
		      <input type="text" class="form-control" name="firstName" id="firstName" [(ngModel)]="user.firstName" placeholder="姓名">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="accountPsd" class="col-md-3 control-label">密码：</label>
		    <div class="col-md-9">
		      <input type="password" [(ngModel)]="user.Password" placeholder="默认为空不修改密码" name="Password" class="form-control" id="accountPsd">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="accountPsd" class="col-md-3 control-label">确认密码：</label>
		    <div class="col-md-9">
		      <input type="password" [(ngModel)]="user.ConfirmPassword" placeholder="再次输入密码" name="Password" class="form-control" id="accountPsd">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-md-offset-3 col-md-9">
				<button type="button" class="btn btn-primary btn-left" (click)="save()">保存</button>
				<button type="button" class="btn btn-primary " (click)="goBack()">返回</button>
		    </div>
		  </div>
	</form>
  </div>
  <div class="col-md-6"></div>
</div>
<!--原来代码-->
<!--<div *ngIf="user">
    <h2>{{ user.Name }} 详情：</h2>
    <div><span>编号: </span>{{user.rowid}}</div>
    <div>
        <label>账号: <input [(ngModel)]="user.Name" placeholder="账号"/></label>
        <br>
        <label>口令: <input type="password" [(ngModel)]="user.Password" placeholder="***"/></label>
        <br>
        <label>用户姓名：<input [(ngModel)]="user.firstName" placeholder="姓名"/></label>
    </div>

    <button (click)="goBack()">返回</button>
    <button (click)="save()">保存</button>
</div>-->
