<div id="search-component">
	<form class="form-inline margin-b20">
    <div class="form-group">
        <label for='search-box'>查询文件：</label>
        <input type="text" #searchBox id="search-box" (input)="search(searchBox.value)"  class="form-control" placeholder="查询文件" />
    </div>
  </form>
 <!-- <h4>查询文件 <input #searchBox id="search-box" (input)="search(searchBox.value)" /></h4>-->
  <ul class="search-result">
    <li *ngFor="let acclog of accloges | async" >
      <a routerLink="/detail/{{acclog.id}}">
        {{acclog.FileName}}
      </a>
    </li>
  </ul>
</div>
