<!-- <h2>保护文件名称</h2> -->
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
	<h2 class="margin-b30">日志列表</h2>
	<form class="form-inline margin-b30" >
	    <div class="form-group margin-r10">
	      <label for='FileName'>文件名称：</label>
				<input type="text" id="FileName"  name="FileName" class="form-control" [(ngModel)] = 'acclogeForm.FileName' />
			</div>
			<div class="form-group margin-r10">
				<label for='UserName'>操作人：</label>
				<input type="text" id="UserName"  name="UserName" class="form-control" [(ngModel)] = 'acclogeForm.UserName' />
			</div>
			<div class="form-group margin-r10">
				<label for='AccessType'>操作类型：</label>
				<select [(ngModel)]="acclogeForm.AccessType" placeholder="操作类型" name="AccessType" class="form-control">
					<!-- <option value="" ></option> -->
					<option value="新建" >新建</option>
					<option value="修改" >修改</option>
					<option value="删除" >删除</option>
				</select>
				<!-- <input type="text" id="AccessType"  name="AccessType" class="form-control" [(ngModel)] = 'acclogeForm.AccessType' /> -->
			</div>
			<button class="btn btn-primary margin-r50" (click)="queryFileLog()" >查询</button>
			<button type="button" class="btn btn-primary" (click)="exportLog()" >导出日志</button>
	</form>
	<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>序号</th>
			<th>文件名称</th>
			<th>操作类型</th>
			<th>操作人</th>
			<th>操作时间</th>
			<th>操作程序</th>
			<th>操作</th>
		</tr>
	</thead>
		<tbody>
		<tr *ngFor="let acclog of accloges" routerLink="/accloges/{{acclog.rowid}}">
			<td align="center">{{acclog.rowid}}</td>
			<td>{{acclog.FileName}}</td>
			<td>{{acclog.AccessType}}</td>
			<td>{{acclog.UserName}}</td>
			<td>{{acclog.AccessTime}}</td>
			<td>{{acclog.Author}}</td>
			<td><a routerLink="/accloges/{{acclog.rowid}}" >详情</a></td>
		</tr>
		</tbody>
	</table>
	<!--分页-->
	<nav aria-label="Page navigation" class="text-center">
	<ul class="pagination">
		<li [ngClass]="{'disabled':1 == page}" >
			<span aria-hidden="false" (click)="prev(page)">&laquo;</span>
		</li>
		<li *ngFor="let ii of pages" [ngClass]="{'active':ii == page}"><a href="javascript:void(0);" (click)="selectPage(ii)" >{{ ii }}</a></li>
		<li [ngClass]="{'disabled':pageCount == page || pageCount == 0}">
			<a href="javascript:;" (click)="next(page)">&raquo;</a>
		</li>
		<li class="disabled"><span>共{{count}}条数据</span></li>
	</ul>
	</nav>
	<!-- <footer>
		<p>Copyright &copy;2016-2019  中食药<sup>®</sup>嘉和天下（北京）国际医学科技研究院 &nbsp;&nbsp; V1.0.0</p>
		<p style="margin: 10px 0 0 0;">售后服务手机号和微信号：<span style="color:#45aeea">13552994462</span></p>
	</footer> -->
  		</div>
  <div class="col-md-1"></div>
</div>

  <!-- (click) passes input value to add() and then clears the input
  <button (click)="add(acclogName.value); acclogName.value=''">
    add
  </button>-->

<!--<ul class="accloges">
  <li *ngFor="let acclog of accloges">
    <a routerLink="/accloges/{{acclog.rowid}}">
      <span class="badge">{{acclog.rowid}}</span> 文件名称： {{acclog.FileName}}   存取时间： {{acclog.AccessTime}}
    </a>
    <!-- <button class="delete" title="delete acclog"
    (click)="delete(acclog);$event.stopPropagation()">x</button> -->
  <!--</li>
</ul>

<div>
    <mat-form-field>
        List length:
        <input matInput [(ngModel)]="length">
      </mat-form-field>

      <mat-form-field>
        Page size:
        <input matInput [(ngModel)]="pageSize">
      </mat-form-field>
      <mat-form-field>
        Page size options:
        <input matInput
               [ngModel]="pageSizeOptions"
               (ngModelChange)="setPageSizeOptions($event)">
      </mat-form-field>

      <mat-paginator [length]="length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pageEvent = $event">
      </mat-paginator>

      <div *ngIf="pageEvent">
        <h5>Page Change Event Properties</h5>
        <div>List length: {{pageEvent.length}}</div>
        <div>Page size: {{pageEvent.pageSize}}</div>
        <div>Page index: {{pageEvent.pageIndex}}</div>
      </div>
</div>-->

