<!-- <h2>保护文件名称</h2> -->

<div>
  <label>保护文件名称:
    <input #acclogName />
  </label>
  <!-- (click) passes input value to add() and then clears the input 
  <button (click)="add(acclogName.value); acclogName.value=''">
    add
  </button>-->
</div>

<ul class="accloges">
  <li *ngFor="let acclog of accloges">
    <a routerLink="/accloges/{{acclog.rowid}}">
      <span class="badge">{{acclog.rowid}}</span> 文件名称： {{acclog.FileName}}   存取时间： {{acclog.AccessTime}}
    </a>
    <!-- <button class="delete" title="delete acclog"
    (click)="delete(acclog);$event.stopPropagation()">x</button> -->
  </li>
</ul>

<div>
    <mat-form-field>
        List length:
        <input matInput [(ngModel)]="length">
      </mat-form-field>
      
      <mat-form-field>
        Page size:
        <input matInput [(ngModel)]="pageSize">
      </mat-form-field>
      <mat-form-field>
        Page size options:
        <input matInput
               [ngModel]="pageSizeOptions"
               (ngModelChange)="setPageSizeOptions($event)">
      </mat-form-field>
      
      <mat-paginator [length]="length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pageEvent = $event">
      </mat-paginator>
      
      <div *ngIf="pageEvent">
        <h5>Page Change Event Properties</h5>
        <div>List length: {{pageEvent.length}}</div>
        <div>Page size: {{pageEvent.pageSize}}</div>
        <div>Page index: {{pageEvent.pageIndex}}</div>
      </div>
</div>

